name: Deploy Bumdes ke VPS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            # 1. Masuk ke folder project
            cd /var/www/bumdes
            
            # 2. Atasi masalah permission Git (Dubious Ownership)
            git config --global --add safe.directory /var/www/bumdes
            
            # 3. Tarik kodingan terbaru dari GitHub
            git fetch --all
            git reset --hard origin/main
            
            # 4. Pastikan permission folder storage aman
            # Kita set owner ke 1000 (user docker) agar bisa tulis file
            chown -R 1000:1000 .
            chmod -R 775 storage bootstrap/cache
            
            # 5. Rebuild Container (Jika ada perubahan config/dockerfile)
            docker compose up -d --build
            
            # 6. Install Dependencies & Maintenance Database
            # Gunakan flag -T agar tidak error "TTY input is not interactive"
            docker compose exec -T app composer install --optimize-autoloader --no-dev
            docker compose exec -T app php artisan migrate --force
            
            # 7. Bersihkan Cache (PENTING untuk Production)
            docker compose exec -T app php artisan optimize:clear
            docker compose exec -T app php artisan config:cache
            docker compose exec -T app php artisan route:cache
            docker compose exec -T app php artisan view:cache